
<h1>First App</h1>
<h2>{{ title }}</h2>
<app-navbar></app-navbar>
<app-header></app-header>

<!-- Class binding dynamically -->
<button [class.active]="isDisabled" [class.non-active]="!isDisabled">Click me</button>
<br/>
<!-- Event Binding -->
<button (click)="btnClick()">Click Event Bind</button>

<!-- Event Binding filterring on specific key-->
<input type="text" (keyup.a)="keyUpEventA()">

<!-- Event Binding filterringwith param on specific key-->
<input type="text" (keyup.enter)="keyUpEventParam(user)" #user id="userId">

<!-- Two way data Binding -->
<input type="text" [value]="userName" id="userName" #username (keyup.enter)="updateUserName(username)">

<!-- Two way data Binding using ngModel -->
<input type="text" [(ngModel)]="userName" id="userName"> {{ userName }}